body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.menu ul {
    list-style: none;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    transform-origin: center;
    transform: rotate(0deg);
    transition: transform 0.5s;
}

.menu ul.show-categories {
    transform: rotate(90deg);
}

.menu li {
    margin: 10px;
}

.menu a {
    text-decoration: none;
    color: #333;
    font-weight: bold;
}

button {
    margin-bottom: 10px;
}

p {
    text-align: center;
    font-size: 18px;
    margin: 20px;
    display: none;
}

.menu ul.show-categories + p {
    display: block;
}
